@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.contact {
  .main {
    padding: 4em 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    display: block;
    max-width: 900px;
    @extend .container;

    h4 {
      font-size: 1rem;
      letter-spacing: 2px;
      margin-bottom: 1em;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.8rem;
      padding-bottom: 1em;

      @media (min-width: $screen-sm) {
        font-size: 1.2rem;
      }
    }

    .focused {
      fieldset {
        border-color: $primary;
        border-width: 2px;
      }
    }

    .error {
      fieldset {
        border-color: $red;
        border-width: 2px;
      }
    }
  }
}

.success,
.error-message {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.error-message {
  color: $red;
}

.success {
  color: $primary;
}

.button-container {
  display: flex;
  justify-content: flex-end;

  .submit-button {
    min-width: 100%;

    @media(min-width: $screen-md) {
      min-width: 15em;
    }
  }
}
