@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.banner {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-height: 900px;
  position: relative;

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-content {
      text-align: center;
      color: $secondary;
      @extend .container;

      .social-links {
        padding: 1.5em;
      }

      .banner-inner {
        max-width: 900px;
        margin: 0 auto;

        h1 {
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: $font-bold;
          margin-bottom: 0.5em;
          font-family: $second-font;

          @media(min-width: $screen-md) {
            font-size: 5rem;
            letter-spacing: -5px;
          }
        }
      }
    }
  }
}
