@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.home {
  .banner {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-height: 900px;
    position: relative;

    .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.65);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .banner-content {
        text-align: center;
        color: $secondary;
        @extend .container;

        .social-links {
          padding: 1.5em;
        }

        .banner-inner {
          max-width: 900px;
          margin: 0 auto;

          .logo {
            max-width: 25em;
            margin-bottom: 2em;
          }

          h1 {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: $font-bold;
            margin-bottom: 0.5em;
            font-family: $second-font;

            @media(min-width: $screen-md) {
              font-size: 5rem;
              letter-spacing: -5px;
            }
          }

          .services-list {
            align-items: center;
            justify-content: center;

            @media(min-width: $screen-sm) {
              display: flex;
            }

            p {
              font-size: 1.2rem;
              font-weight: $font-light;
              font-family: $second-font;
              border-right: 2px solid $primary;
              padding: 0 0.5em;
              display: inline;

              @media(min-width: $screen-md) {
                font-size: 1.4rem;
                display: block;
              }

              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .main {
    padding: 4em 2em;
    @extend .container;
    
    .bio-text {
      border-bottom: 2px solid $primary;
      padding-bottom: 2em;
      font-size: 1.4rem;
      font-weight: $font-light;
      text-align: center;

      p {
        padding-bottom: 2em;

        &:last-child {
          padding-bottom: 0;
        }

        strong {
          color: $primary;
        }
      }
    }
  }
}
