@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.home {
  .banner {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-height: 700px;
    position: relative;
    background-color: black;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      min-height: 95vh;
    }

    .video {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      @media (min-width: 2400px) {
        width: 100%;
        position: relative;
      }
    }

    .text-logo {
      max-width: 15em;
      margin-bottom: 2em;
      width: 100%;

      @media (min-width: $screen-md) {
        max-width: 20em;
      }

      @media (min-width: $screen-xxl) {
        max-width: 30em;
      }
    }

    .banner-button {
      text-decoration: none;
    }

    .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .banner-content {
        text-align: center;
        color: $white;
        width: 100%;
        margin-top: 8em;
        @extend .container;

        @media (min-width: $screen-md) {
          margin-top: 4em;
          padding: 4em;
        }

        .banner-inner {
          max-width: 800px;
          margin: 0 auto;
          padding: 2em;

          @media (min-width: $screen-md) {
            background-color: rgba($black, 0.75);
            border-radius: 6px;
          }

          .social-links {
            padding-top: 1em;
          }

          h1 {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: $font-medium;
            margin-bottom: 0.5em;
            font-family: $second-font;

            @media (min-width: $screen-md) {
              letter-spacing: 5px;
              font-size: 1rem;
            }

            @media (min-width: $screen-xxl) {
              font-size: 1.4rem;
            }
          }

          .services-list {
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;

            @media (min-width: $screen-sm) {
              display: flex;
            }

            p {
              font-size: 1rem;
              font-weight: $font-light;
              font-family: $second-font;
              border-right: 2px solid $primary;
              padding: 0 0.5em;
              display: inline;

              @media (min-width: $screen-md) {
                font-size: 1.2rem;
                display: block;
              }

              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .main {
    padding: 2em;
    @extend .container;

    @media (min-width: $screen-sm) {
      padding: 4em 2em;
    }

    .bio-text {
      border-bottom: 2px solid $light-grey;
      padding-bottom: 2em;
      padding-top: 2em;
      font-size: 1.4rem;
      font-weight: $font-light;
      text-align: center;

      @media (min-width: $screen-sm) {
        padding-bottom: 4em;
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
      }

      .text {
        h2 {
          font-size: 1.6rem;
          letter-spacing: 2px;
          margin-bottom: 1em;
          text-transform: uppercase;

          @media (min-width: $screen-sm) {
            font-size: 2rem;
          }
        }

        h4 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.85rem;
          margin-bottom: 1.5em;

          @media (min-width: $screen-sm) {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1rem;
          line-height: 1.75rem;
          font-weight: $font-medium;
        }
      }
    }

    .services {
      border-bottom: 2px solid $light-grey;
      margin-bottom: 6em;
    }
  }
}
