@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.masonry-grid-container {
  padding-top: 9.5em;

  .masonry-grid {
    display: flex;
    margin-left: -0.5em; /* gutter size offset */
    width: auto;
  }

  .masonry-grid-column {
    padding-left: 0.5em; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .masonry-grid-column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 0.25em;
  }
}

.image-container {
  &:hover {
    cursor: pointer;
  }
}