@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 95%;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  overflow-y: scroll;

  @media(min-width: $screen-sm) {
    max-width: 75%;
  }

  @media(min-width: $screen-lg) {
    max-width: 50%;
    max-height: 90%;
  }

  .close-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;
  }

  img {
    border-radius: 5px;
  }
}
