@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.about {
  .main {
    padding: 6em 2em;
    @extend .container;

    .item {
      padding-bottom: 2em;
      align-items: center;

      &.first-item {
        flex-direction: row-reverse;

        .box-text {
          padding-right: 0;
          padding-left: 0;

          @media (min-width: $screen-sm) {
            padding-right: 3em;
          }
        }
      }

      .image-container {
        position: relative;

        .image {
          border-radius: 4px;
          height: 15em;
          width: 100%;
          background-size: cover;
          background-position: center;
          position: relative;
          z-index: 1;
        }

        .box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid $primary;
          transform: rotate(7.5deg);

          @media (min-width: $screen-sm) {
            transform: rotate(15deg);
          }
        }
      }

      .box-text {
        margin-top: 3em;

        @media (min-width: $screen-sm) {
          margin-top: 0;
          padding-left: 3em;
        }

        p {
          font-size: 1rem;
          font-weight: $font-light;
          font-family: $second-font;

          @media (min-width: $screen-md) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .extra-content {
      @media(min-width: $screen-sm) {
        padding-top: 4em;
      }
    }
  }
}
