@import 'src/view/styles/variables.scss';

.footer {
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  flex-direction: column;

  .footer-menu {
    padding: 1em 0;
  }
}
