@import 'src/view/styles/variables.scss';
@import 'src/view/styles/classes.scss';

.header {
  padding:1em 0 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 1em;

  @media (min-width: $screen-md) {
    padding: 1em;
  }

  &.is-home {
    background-color: rgba($black, 0.5);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;

    @media (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .menu {
    @media (max-width: $screen-md) {
      padding-top: 1em;
    }
  }

  .logo {
    width: 10em;
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
      padding: 0;
    }
  }
}
